@font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
	text-align: center;
}

h1, h3 {
	visibility: hidden;	
	line-height: 0;
}

.placeholder img {
	max-width: 100%;
}

